<% results.each do |result| %>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3 class='title'><a href='<%= result.link %>'><%= result.title %></a><h3>
      <p class='description'><%= result.description %></p>
    </div>
  </div>
<% end %>
