# Example .env file
# Make a copy of this file named ".env" and fill out the properties
# Note: The .env file should _not_ be checked in to Git!

# File containing server-specific Rails environment variables.
# Do not check into Git!

# --- config/secrets.yml
# Secret key used to verify signed cookies
SECRET_KEY_BASE=

# --- config/database.yml
# The type of database
PROD_DATABASE_ADAPTER=postgresql

# The name of the database
PROD_DATABASE_NAME=search

# The encoding to use
PROD_DATABASE_ENCODING=utf8

# The username used to connect to the database
PROD_DATABASE_USERNAME=search

# The password used to connect to the database
PROD_DATABASE_PASSWORD=

# The host for the database
PROD_DATABASE_HOST=

# The port for the database
PROD_DATABASE_PORT=5432

# Pool size
PROD_DATABASE_POOL=10

# -- config/searchers/database_finder_config.yml
# The base URL for the Hippo website
DATABASE_FINDER_HIPPO_SITE_URL=

# --- config/searchers/lib_answers_config.yml
# The Institution ID for LibAnswers
LIB_ANSWERS_IID=

# --- config/searchers/lib_guides_config.yml
# The URL for the LibGuides API
LIB_GUIDES_URL=https://lgapi-us.libapps.com/1.1/guides/

# The Site ID to use with LibGuides
LIB_GUIDES_SITE_ID=

# The API key to use with LibGuides
LIB_GUIDES_API_KEY=

# --- config/searchers/world_cat_discovery_api_config.yml
# The WorldCat Discovery API institution id
WORLD_CAT_DISCOVERY_API_INSTITUTION_ID=

# The WorldCat Discovery API wskey
WORLD_CAT_DISCOVERY_API_WSKEY=

# The WorldCat Discovery API wskey
WORLD_CAT_DISCOVERY_API_SECRET=

# --- config/searchers/world_cat_discovery_api_article_config.yml
# The WorldCat Knowledge Base API OpenURL Resolve wskey
WORLD_CAT_OPEN_URL_RESOLVER_WSKEY=

# --- lib_guides_database_config.yml
# RFC 6570 URI template for the LibGuides "API" search endpoint. The first
# variable in the template will be set to the user's current query when executing
# a search. Any additional variables will be ignored.
LIB_GUIDES_DATABASE_QUERY_TEMPLATE=

# RFC 6570 URI template for the LibGuides search page. The first variable in the
# template will be set to the user's current query when executing a search. Any
# additional variables will be ignored.
LIB_GUIDES_DATABASE_LOADED_LINK_TEMPLATE=

# URL to link to when there are no search results for the user's current query.
LIB_GUIDES_DATABASE_NO_RESULTS_LINK=
