<div class="row">
    <div class="small-12 medium-6 large-9 columns">
        <h1>Search Website</h1>
    </div>
</div>

<input type="search" name="q" id="params-q" class="search-query st-default-search-input"
       placeholder="<%= @search_form_placeholder %>" />

<div class="st-search-container"></div>

<!-- From Swiftype Site Search Overview account page-->
<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','4ByRz3DoCM9UGVLUYZUx','2.0.0');
</script>
