defaults: &defaults
  base_url: 'http://lgapi-us.libapps.com/1.1/guides/?key='
  query_params: '&site_id=<%= ENV['LIB_GUIDES_SITE_ID'] %>&sort_by=relevance&search_terms='
  loaded_link: 'http://lib.guides.umd.edu/srch.php?q='
  key: <%= ENV['LIB_GUIDES_API_KEY'] %>
  no_results_link: 'http://lib.guides.umd.edu/srch.php'

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults